Repository bitcoin-s/bitcoin-s-ts, pull requests merged in 2022-09, with the labels that each got.

#188 All projects to 1.9.3
  common-ts/package.json
  oracle-electron-ts/package.json
  oracle-server-ts/package.json
  oracle-server-ui-proxy/package.json
  oracle-server-ui/package.json
  package.json
  wallet-electron-ts/package.json
  wallet-server-ui-proxy/package.json
  wallet-server-ui/package.json
  wallet-ts/package.json
Labels: wallet, oracle

#189 2022 09 02 update electron sh
  build-oracle-electron.sh
  build-wallet-electron.sh
Labels: build

#191 Show a restart dialog after 2 minutes if torStarted does not set
  wallet-server-ui/src/assets/i18n/en.json
  wallet-server-ui/src/service/wallet-state-service.ts
  wallet-server-ui/src/service/websocket.service.ts
Labels: enhancement, wallet

#195 Add up/down to pnl, Ang 14 cleanup, Header tooltips, Network relay
  common-ts/package-lock.json
  common-ts/package.json
  oracle-electron-ts/package-lock.json
  oracle-electron-ts/package.json
  oracle-server-ts/package-lock.json
  oracle-server-ts/package.json
  oracle-server-ui-proxy/package-lock.json
  oracle-server-ui-proxy/package.json
  oracle-server-ui/package-lock.json
  package-lock.json
  wallet-electron-ts/package-lock.json
  wallet-electron-ts/package.json
  wallet-server-ui-proxy/package-lock.json
  wallet-server-ui-proxy/package.json
  wallet-server-ui/package-lock.json
  wallet-server-ui/src/app/component/about/about.component.scss
  wallet-server-ui/src/app/component/about/about.component.ts
  wallet-server-ui/src/app/component/contract-detail/contract-detail.component.html
  wallet-server-ui/src/app/component/contract-detail/contract-detail.component.scss
  wallet-server-ui/src/app/component/contract-detail/contract-detail.component.ts
  wallet-server-ui/src/app/component/contracts/contracts.component.html
  wallet-server-ui/src/app/component/debug/debug.component.html
  wallet-server-ui/src/app/component/debug/debug.component.scss
  wallet-server-ui/src/app/component/header/header.component.html
  wallet-server-ui/src/app/component/login/login.component.html
  wallet-server-ui/src/app/component/network/network.component.html
  wallet-server-ui/src/app/component/network/network.component.scss
  wallet-server-ui/src/app/component/new-offer/new-offer.component.html
  wallet-server-ui/src/app/component/new-offer/new-offer.component.ts
  wallet-server-ui/src/app/component/offers/offers.component.html
  wallet-server-ui/src/app/component/offers/offers.component.ts
  wallet-server-ui/src/assets/i18n/en.json
  wallet-server-ui/src/service/auth.service.ts
  wallet-server-ui/src/service/wallet-state-service.ts
  wallet-ts/package-lock.json
  wallet-ts/package.json
Labels: bug, enhancement, dependencies, wallet

#194 Frontend for checkconnection message
  wallet-server-ui/src/app/component/contacts/contacts.component.html
  wallet-server-ui/src/app/component/contacts/contacts.component.scss
  wallet-server-ui/src/app/component/contacts/contacts.component.ts
  wallet-server-ui/src/assets/i18n/en.json
  wallet-server-ui/src/service/contact-service.ts
  wallet-server-ui/src/service/websocket.service.ts
  wallet-server-ui/src/type/wallet-server-types.ts
  wallet-ts/lib/type/dlc-types.ts
Labels: enhancement, wallet

#198 Make PNL red and green on Contracts, Fix PNL sorting bug
  wallet-server-ui/src/app/component/contract-detail/contract-detail.component.scss
  wallet-server-ui/src/app/component/contracts/contracts.component.html
  wallet-server-ui/src/app/component/contracts/contracts.component.scss
  wallet-server-ui/src/app/component/contracts/contracts.component.ts
  wallet-server-ui/src/styles.scss
Labels: bug, enhancement, wallet

#201 Break import/export into independent components
  wallet-server-ui/src/app/app.module.ts
  wallet-server-ui/src/app/component/export/export.component.html
  wallet-server-ui/src/app/component/export/export.component.scss
  wallet-server-ui/src/app/component/export/export.component.spec.ts
  wallet-server-ui/src/app/component/export/export.component.ts
  wallet-server-ui/src/app/component/import-export/import-export.component.html
  wallet-server-ui/src/app/component/import-export/import-export.component.scss
  wallet-server-ui/src/app/component/import-export/import-export.component.ts
  wallet-server-ui/src/app/component/import/import.component.html
  wallet-server-ui/src/app/component/import/import.component.scss
  wallet-server-ui/src/app/component/import/import.component.spec.ts
  wallet-server-ui/src/app/component/import/import.component.ts
Labels: wallet

#202 Add CompactFilter event handling and header display during IBD
  wallet-server-ui/src/app/component/export/export.component.ts
  wallet-server-ui/src/app/component/header/header.component.html
  wallet-server-ui/src/app/component/header/header.component.scss
  wallet-server-ui/src/app/component/import/import.component.ts
  wallet-server-ui/src/assets/i18n/en.json
  wallet-server-ui/src/service/wallet-state-service.ts
  wallet-server-ui/src/service/websocket.service.ts
  wallet-server-ui/src/styles.scss
  wallet-server-ui/src/type/wallet-server-types.ts
  wallet-ts/lib/type/blockchain-types.ts
Labels: enhancement, wallet

#208 Onboarding cleanup, Advanced splash screen reset, Header icon
  oracle-electron-ts/package-lock.json
  oracle-electron-ts/package.json
  oracle-server-ui-proxy/package-lock.json
  oracle-server-ui/package-lock.json
  package-lock.json
  wallet-electron-ts/package-lock.json
  wallet-electron-ts/package.json
  wallet-server-ui-proxy/package-lock.json
  wallet-server-ui/package-lock.json
  wallet-server-ui/package.json
  wallet-server-ui/src/app/app.component.html
  wallet-server-ui/src/app/app.module.ts
  wallet-server-ui/src/app/component/debug/debug.component.html
  wallet-server-ui/src/app/component/debug/debug.component.scss
  wallet-server-ui/src/app/component/debug/debug.component.ts
  wallet-server-ui/src/app/component/header/header.component.html
  wallet-server-ui/src/app/component/header/header.component.scss
  wallet-server-ui/src/app/component/new-user-onboarding-card/new-user-onboarding-card.component.html
  wallet-server-ui/src/app/component/new-user-onboarding/new-user-onboarding.component.html
  wallet-server-ui/src/app/component/splash/splash.component.html
  wallet-server-ui/src/app/component/splash/splash.component.ts
  wallet-server-ui/src/assets/i18n/en.json
  wallet-server-ui/src/service/localstorage.service.ts
Labels: bug, enhancement, dependencies, wallet

#209 Make enum outcomes distinct
  oracle-server-ui/src/app/announcement-detail/announcement-detail.component.html
  oracle-server-ui/src/app/announcement-detail/announcement-detail.component.scss
  oracle-server-ui/src/app/announcement-detail/announcement-detail.component.ts
  oracle-server-ui/src/app/component/advanced/advanced.component.html
  oracle-server-ui/src/app/component/advanced/advanced.component.scss
  oracle-server-ui/src/app/login/login.component.html
  oracle-server-ui/src/app/new-announcement/new-announcement.component.html
  oracle-server-ui/src/app/new-announcement/new-announcement.component.scss
  oracle-server-ui/src/app/new-announcement/new-announcement.component.ts
  oracle-server-ui/src/app/oracle/oracle.component.html
  oracle-server-ui/src/app/oracle/oracle.component.scss
  oracle-server-ui/src/app/oracle/oracle.component.ts
  oracle-server-ui/src/assets/i18n/en.json
  oracle-server-ui/src/styles.scss
  oracle-server-ui/src/util/oracle-server-util.ts
Labels: enhancement, oracle

#210 Disable various interactions before state is initialized, etc
  oracle-electron-ts/package-lock.json
  oracle-electron-ts/src/index.ts
  wallet-electron-ts/src/index.ts
  wallet-server-ui/src/app/app.component.scss
  wallet-server-ui/src/app/app.component.ts
  wallet-server-ui/src/app/component/contacts/contacts.component.html
  wallet-server-ui/src/app/component/contacts/contacts.component.scss
  wallet-server-ui/src/app/component/contracts/contracts.component.html
  wallet-server-ui/src/app/component/contracts/contracts.component.scss
  wallet-server-ui/src/app/component/contracts/contracts.component.ts
  wallet-server-ui/src/app/component/dlc-file/dlc-file.component.html
  wallet-server-ui/src/app/component/export/export.component.html
  wallet-server-ui/src/app/component/header/header.component.html
  wallet-server-ui/src/app/component/header/header.component.scss
  wallet-server-ui/src/app/component/import/import.component.html
  wallet-server-ui/src/app/component/login/login.component.html
  wallet-server-ui/src/app/component/login/login.component.scss
  wallet-server-ui/src/app/component/login/login.component.ts
  wallet-server-ui/src/app/component/new-user-onboarding-card/new-user-onboarding-card.component.scss
  wallet-server-ui/src/app/component/new-user-onboarding-card/new-user-onboarding-step.ts
  wallet-server-ui/src/app/component/new-user-onboarding/new-user-onboarding.component.html
  wallet-server-ui/src/app/component/new-user-onboarding/new-user-onboarding.component.ts
  wallet-server-ui/src/app/component/offers/offers.component.html
  wallet-server-ui/src/app/component/offers/offers.component.scss
  wallet-server-ui/src/app/component/offers/offers.component.ts
  wallet-server-ui/src/app/component/splash/splash.component.ts
  wallet-server-ui/src/app/component/wallet-balance/wallet-balance.component.html
  wallet-server-ui/src/assets/i18n/en.json
  wallet-server-ui/src/service/address.service.ts
  wallet-server-ui/src/service/contact-service.ts
  wallet-server-ui/src/service/dlc-service.ts
  wallet-server-ui/src/service/offer-service.ts
  wallet-server-ui/src/service/wallet-state-service.ts
Labels: enhancement, wallet
