Repository bitcoin-s/bitcoin-s-ts, pull requests merged in 2022-05, with the labels that each got.

#146 Add npm run build to monorepo root on Dockerfile builds
  oracle-server-ui/Dockerfile
  wallet-server-ui/Dockerfile
Labels: bug, build

#145 Upgrade docker base image to node:16.15-buster-slim
  oracle-server-ui/Dockerfile
  wallet-server-ui/Dockerfile
Labels: build, wallet, oracle

#147 Add wallet Contact List, torStarting, wallet-ts offer/contact types
  wallet-server-ui/src/app/app-routing.module.ts
  wallet-server-ui/src/app/app.module.ts
  wallet-server-ui/src/app/component/accept-offer/accept-offer.component.html
  wallet-server-ui/src/app/component/accept-offer/accept-offer.component.ts
  wallet-server-ui/src/app/component/contacts/contacts.component.html
  wallet-server-ui/src/app/component/contacts/contacts.component.scss
  wallet-server-ui/src/app/component/contacts/contacts.component.spec.ts
  wallet-server-ui/src/app/component/contacts/contacts.component.ts
  wallet-server-ui/src/app/component/header/header.component.html
  wallet-server-ui/src/app/component/header/header.component.scss
  wallet-server-ui/src/app/component/network/network.component.html
  wallet-server-ui/src/app/component/network/network.component.scss
  wallet-server-ui/src/app/component/new-offer/new-offer.component.html
  wallet-server-ui/src/app/component/new-offer/new-offer.component.ts
  wallet-server-ui/src/app/component/offers/offers.component.html
  wallet-server-ui/src/app/component/offers/offers.component.scss
  wallet-server-ui/src/app/component/offers/offers.component.ts
  wallet-server-ui/src/assets/i18n/en.json
  wallet-server-ui/src/scss/animations.scss
  wallet-server-ui/src/service/contact-service.ts
  wallet-server-ui/src/service/offer-service.ts
  wallet-server-ui/src/service/wallet-state-service.ts
  wallet-server-ui/src/styles.scss
  wallet-server-ui/src/type/wallet-server-types.ts
  wallet-ts/lib/index.ts
  wallet-ts/lib/type/blockchain-types.ts
  wallet-ts/lib/type/wallet-types.ts
Labels: enhancement, wallet
